.datatable {
  height: 100%;
  width: 100%;
  padding: 8px;

  mat-tab-group {
    height: 100vh;
  }

  mat-toolbar {
    button, mat-checkbox {
      margin: 0 4px;
    }
  }

  mat-header-cell {
    span {
      flex: 1;
    }
    button {
      opacity: .4;
      &:hover {
        opacity: 1;
      }
    }
  }

  .table-container {
    height: calc(100% - 60px);
    overflow: hidden;
    overflow-y: auto;
    margin: 0;
  }
}

::ng-deep .mat-mdc-tab-body-wrapper {
  height: 100% !important;
}

::ng-deep .mat-mdc-tab-body-content {
  height: 100% !important;
}