@use '@angular/material' as mat;

.azure-theme { 
  @include mat.theme((color: (primary: mat.$azure-palette, tertiary: mat.$orange-palette), typography: Helvetica, density: 0)); 
}
.azure-theme.dark {
  @include mat.theme((color: (primary: mat.$azure-palette, tertiary: mat.$orange-palette), typography: Helvetica, density: 0, is-dark: true));
}

.chartreuse-theme { 
  @include mat.theme((color: (primary: mat.$chartreuse-palette, tertiary: mat.$orange-palette), typography: Helvetica, density: 0)); 
}
.chartreuse-theme.dark {
  @include mat.theme((color: (primary: mat.$chartreuse-palette, tertiary: mat.$orange-palette), typography: Helvetica, density: 0, is-dark: true)); 
}

.cyan-theme { 
  @include mat.theme((color: (primary: mat.$cyan-palette, tertiary: mat.$orange-palette), typography: Helvetica, density: 0));
}
.cyan-theme.dark {
  @include mat.theme((color: (primary: mat.$cyan-palette, tertiary: mat.$orange-palette), typography: Helvetica, density: 0, is-dark: true)); 
}

.magenta-theme { 
  @include mat.theme((color: (primary: mat.$magenta-palette, tertiary: mat.$orange-palette), typography: Helvetica, density: 0)); 
}
.magenta-theme.dark { 
  @include mat.theme((color: (primary: mat.$magenta-palette, tertiary: mat.$orange-palette), typography: Helvetica, density: 0, is-dark: true)); 
}

.spring-green-theme { 
  @include mat.theme((color: (primary: mat.$spring-green-palette, tertiary: mat.$orange-palette), typography: Helvetica, density: 0)); 
}
.spring-green-theme.dark { 
  @include mat.theme((color: (primary: mat.$spring-green-palette, tertiary: mat.$orange-palette), typography: Helvetica, density: 0, is-dark: true)); 
}

.green-theme { 
  @include mat.theme((color: (primary: mat.$green-palette, tertiary: mat.$orange-palette), typography: Helvetica, density: 0)); 
}
.green-theme.dark { 
  @include mat.theme((color: (primary: mat.$green-palette, tertiary: mat.$orange-palette), typography: Helvetica, density: 0, is-dark: true)); 
}

.violet-theme { 
  @include mat.theme((color: (primary: mat.$violet-palette, tertiary: mat.$orange-palette), typography: Helvetica, density: 0)); 
}
.violet-theme.dark { 
  @include mat.theme((color: (primary: mat.$violet-palette, tertiary: mat.$orange-palette), typography: Helvetica, density: 0, is-dark: true)); 
}

mat-toolbar {
  height: 48px !important;
}

mat-card {
  mat-card-header {
    margin-bottom: 16px;
    mat-card-title {
      font-size: 18px !important;
    }
    mat-card-subtitle {
      font-size: 14px !important;
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

.mat-mdc-icon-button {
  --mdc-icon-button-icon-color: inherit !important;
  color: inherit !important;
}

.mat-mdc-icon-button .mat-icon {
  color: inherit !important;
}


/* MAT-FORM-FIELD */

mat-form-field {
  width: 100%;
}


/* MAT-LIST */

.mdc-list-item__secondary-text {
  font-size: 12px !important;
}


/* MAT-STEPPER */

mat-stepper {
  height: 72px !important;
  .mat-horizontal-stepper-header-container {
    margin-bottom: 8px;
  }
  .mat-horizontal-content-container {
    padding: 8px !important;
  }
}

/* SCROLL */

.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: var(--mat-sys-primary) transparent;
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: var(--mat-sys-primary);
  border-radius: 20px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: var(--mat-sys-primary-container);
}



/* MAT TABLE */

.mat-mdc-table {
  width: 100% !important;
  border-collapse: collapse !important;
  background-color: var(--mat-sys-surface-container-low) !important;
}

.mat-mdc-header-row {
  height: 44px !important;
  min-height: 44px !important;
  width: 100% !important;
}


.mat-mdc-row {
  width: 100% !important;
  height: 50px !important;
  min-height: 48px !important;
  &:nth-child(even) {
    background-color: var(--mat-sys-surface-container) !important;
  }
  &:hover {
    opacity: .6;
  }
  &.selected {
    background-color: var(--mat-sys-primary) !important;
    color: var(--mat-button-label-text-color);
    font-weight: bold;
    &:hover {
      background-color: var(--mat-sys-primary) !important;
      opacity: .8;
    }
  }
}

.mat-mdc-header-cell {
  padding: 0 8px !important;
  span {
    flex: 1;
  }
  button {
    opacity: .4;
    &:hover {
      opacity: 1;
    }
  }
}

.mat-mdc-cell {
  padding: 0 8px !important;
  border: 1px solid var(--mat-sys-surface-container-highest) !important;
}

/* MAT-PAGINATOR */

.mat-mdc-paginator {
  height: 48px !important;
}

.mat-mdc-paginator-container {
  height: 48px !important;
  min-height: 48px !important;
}

.mat-mdc-paginator .mat-mdc-paginator-page-size-label {
  display: none !important;
}

/* CDK */

.cdk-overlay-pane {
  max-width: none !important;
  max-height: none !important;
  border-radius: 16px !important;
}

.mat-mdc-dialog-container {
  max-width: none !important;
  max-height: none !important;
  border-radius: 16px !important;
}

.mat-mdc-dialog-surface {
  border-radius: 16px !important;
}

.cdk-overlay-container {
  z-index: 1200 !important;
}

.mat-mdc-snack-bar-container {
  z-index: 1300 !important;
}